* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 219, 185);
}
.todo-app {
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    background-color: aqua;
    margin: 50px auto;
}
.logo {
    text-align: center;
}

#form {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}
#form input {
    width: 80%;
    background-color: rgb(239, 172, 120);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;

}
#form button {
    width: 18%;
    cursor: pointer;
}

.todo-item {
background-color: white;
border-radius: 4px;
padding: 10px;
display: flex;
margin-bottom: 10px;
justify-content: space-between;
}

.todo-item span {
    cursor: pointer;
    color: red;
}
h1 {
    margin-bottom: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
}
#clear {
    width: 80px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    margin-bottom: 15px;
    margin-left: 4px;
}

